global
    log /dev/log local0
    log /dev/log local1 notice

defaults
    log global
    mode http
    option httplog
    option forwardfor header X-Real-IP
    option dontlognull
    timeout connect 5000
    timeout client 50000
    timeout server 50000

# Enable the admin UI
frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend http_front
    bind *:80
    maxconn 150000
    mode http
    default_backend http_back

backend http_back
    balance roundrobin
    server nginx nginx:80 check
